<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KTS_Kinect_Tracking_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <KTS_Kinect_Tracking_Server.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NetworkInterface" serializeAs="String">
                <value />
            </setting>
            <setting name="isKinectCameraEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDirectorty" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="isLogingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KinectCamera" serializeAs="String">
                <value>Depth Camera</value>
            </setting>
        </KTS_Kinect_Tracking_Server.Properties.Settings>
    </userSettings>
</configuration>